## DATA CLEANING

In [1]:
# Import dan load dataset
import pandas as pd

# Load data
path = r'C:\Users\ASUS\Downloads\GLC25_P0_metadata_train.csv'
df = pd.read_csv(path)

df.head()

,publisher,year,month,day,lat,lon,geoUncertaintyInM,taxonRank,date,dayOfYear,speciesId,surveyId
0,Pl@ntNet,2019,5.0,5.0,43.74605,1.573057,6.0,SPECIES,2019-05-05,125,3383.0,1
1,Pl@ntNet,2021,3.0,17.0,42.12559,0.314948,5.0,SPECIES,2021-03-17,76,1152.0,2
2,Pl@ntNet,2021,6.0,5.0,48.29520,-0.934518,24.9,SPECIES,2021-06-05,156,6772.0,3
3,iNaturalist.org,2021,6.0,9.0,53.63367,-2.644535,8.0,SPECIES,2021-06-09,160,3318.0,4
4,iNaturalist.org,2021,4.0,1.0,49.79471,7.925086,15.0,SPECIES,2021-04-01,91,3374.0,5

In [2]:
# Cek detail data
df.info()

# Cek missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5079797 entries, 0 to 5079796
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   publisher          object
 1   year               int64
 2   month              float64
 3   day                float64
 4   lat                float64
 5   lon                float64
 6   geoUncertaintyInM  float64
 7   taxonRank          object
 8   date               object
 9   dayOfYear          int64
 10  speciesId          float64
 11  surveyId           int64
dtypes: float64(6), int64(3), object(3)
memory usage: 465.1+ MB

publisher               0
year                    0
month                 484
day                  1819
lat                     0
lon                     0
geoUncertaintyInM       0
taxonRank               0
date                    0
dayOfYear               0
speciesId               0
surveyId                0
dtype: int64

In [3]:
# Membersihkan missing values
df = df.dropna()

# Hapus data yang duplikat
df = df.drop_duplicates()

In [4]:
# Validasi Latitude dan Longitud
df = df[(df['lat'].between(-90, 90)) & (df['lon'].between(-180, 180))]

In [5]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Hapus baris dengan tanggal tidak valid
df = df.dropna(subset=['date'])